<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Users</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/shards.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</head>
<body>
    <h1 class="container-fluid p-3 border bg-light">Fitness club</h1>
    <div class="container-fluid themed-container p-5 border bg-light" >
        <div class="row">
            <div class="col-6">
                <table class="table table-bordered table-responsive overflow-y: hidden table-sm" >
                    <caption align="top" style="font-size: 24px">

                        List of users inside fitness club

                        <button type="button" class="btn btn-outline-success" data-bs-toggle="modal" th:data-bs-target="'#addModal'" style="float:right">
                            ✚
                        </button>

                        <!-- Модальное окно -->
                        <div class="modal fade" th:id="'addModal'" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="addModalLabel">Add client in list</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <form class="col card p-3 my-5" method="post" th:action="@{'/api/admin/add/client'}" th:object="${card}" >
                                            <div class="form-group">
                                                <label for="card">Card</label>
                                                <input class="form-control" id="card" placeholder="Enter card id" required
                                                       th:field="*{id}"
                                                       type="number"/>
                                            </div>
                                            <input class="btn btn-primary" type="submit" value="Add">
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </caption>
                    <tr>
                        <th>Name</th>
                        <th>Surname</th>
                        <th>Time</th>
                        <th>Card</th>
                        <th>Actions</th>
                    </tr>
                    <tr th:if="${#lists.isEmpty(clients)}">
                        <td class="text-center" colspan="7">No Records found</td>
                    </tr>
                    <tr th:each="client : ${clients}">
                        <td class="align-middle" th:text="${client.name}"></td>
                        <td class="align-middle" th:text="${client.surname}"></td>
                        <td class="align-middle" th:text="${client.card.lastVisitDay}"></td>
                        <td class="align-middle" th:text="${client.card.id}"></td>
                        <td class="align-middle text-center">
                            <a class="btn btn-outline-danger" th:href="'/api/admin/remove/client/' + ${client.id}" >
                                ✘
                            </a>
                        </td>
                    </tr>
                </table>
            </div>

            <div class="col p-3 border bg-light offset-md-2">
<!--                <div class="row p-2">-->
<!--                    <button type="button" class="btn btn-outline-success" data-bs-toggle="modal" style="float:right">-->
<!--                        Find client-->
<!--                    </button>-->
<!--                </div>-->

<!--                <div class="row p-2">-->
<!--                    <button type="button" class="btn btn-outline-success" data-bs-toggle="modal"  style="float:right">-->
<!--                        Find coach-->
<!--                    </button>-->
<!--                </div>-->
                <div class="row p-2">
                    <a class="btn btn-outline-success" style="float:right" th:href="'/api/admin/save/client'">
                        Add new client
                    </a>
                </div>
                <div class="row p-2">
                    <a class="btn btn-outline-success" th:href="'/api/admin/save/coach'" style="float:right">
                        Add new coach
                    </a>
                </div>

                <div class="row p-2">
                    <a class="btn btn-outline-success" th:href="'/api/clients'"  style="float:right">
                        List of clients
                    </a>
                </div>

                <div class="row p-2">
                    <a class="btn btn-outline-success" th:href="'/api/coaches'" style="float:right">
                        List of coaches
                    </a>
                </div>
            </div>
        </div>
    </div>

</body>
</html>